<%- include _header %>

<h1>Phases</h1>
      <!-- Main component for a primary marketing message or call to action -->
    <div class="row">
    <%
        var step=null;
        for (var i=0; i<steps.length;i++) {
            step =steps[i];%>
    
    <div class="col-sm-6">
        <div class="card card-block">
            <h3 class="card-title"><%=step.step %></h3>
            <p class="card-text"><%=step.introduction %></p>
            <a href="/<%=step.url %>" class="btn btn-primary">Go <%=step.step %></a>
        </div>
    </div>
    <% }%>
        

    </div-> <!-- /container -->

    
    
<%- include _footer %>

