<%- include ../_header %>

<h1 class="display-4"><%=title%></h1>

<div class="col-sm-12">    
    <% var data = overview; %>
    <%- include ../_paragraphe.ejs %>
    
    <% var data = prototype; %>
    <%- include ../_paragraphe.ejs %>
    
</div>

<%- include ../_footer %>





