<%- include ../_header %>

<h1 class="display-4"><%=title%></h1>

<ul class="nav nav-tabs">
	<li class="nav-item">
        <a class="nav-link active" data-toggle="tab" role="tab" href="#<%-overview.title%>"><%-overview.title%></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" href="#<%-table.title%>"><%-table.title%></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" href="#<%-VOC.stitle%>"><%-VOC.title%></a>
    </li>
	<li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" href="#<%-chief.stitle%>"><%-chief.title%></a>
    </li>
</ul>

<div class="tab-content">
		
		<div class="tab-pane active" id="<%-overview.title%>" role="tabpanel">
            <% var data = overview; %>
			<%- include ../_paragraphe.ejs %>
		</div>
		
        <div class="tab-pane" id="<%-table.title%>" role="tabpanel">
            <% var data = table; %>
			<%- include ../_table.ejs %>
		</div>
		
		<div class="tab-pane" id="<%-VOC.stitle%>" role="tabpanel">
			<% var data = VOC; %>
			<%- include ../_paragraphe.ejs %>
		</div>
		
		<div class="tab-pane" id="<%-chief.stitle%>" role="tabpanel">
            <% var data = chief; %>
			<%- include ../_paragraphe.ejs %>
		</div>
</div>
	

<%- include ../_footer %>

