<%- include ../_header %>

<h1 class="display-4"><%=title%></h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" role="tab" href="#<%-overview.title%>"><%-overview.title%></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" href="#<%-core.stitle%>"><%-core.title%></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" href="#<%-noncore.stitle%>"><%-noncore.title%></a>
  </li>
 </ul>

<div class="tab-content">

    <div class="tab-pane active" id="<%-overview.title%>" role="tabpanel">
		<% var data = overview; %>
		<%- include ../_paragraphe.ejs %>
    </div>
    
    <div class="tab-pane" id="<%-core.stitle%>" role="tabpanel">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-block">
                    <div class="card card-block">
						<% for (var i=0; i<core.comment.length; i++) { %>
                            <p class="card-text"><%-core.comment[i]%></p>
						<% } %>
                        <% for (var j=0; j<core.roles.length; j++) { %>
							<% var data = core.roles[j]; %>
							<%- include ../_paragraphe.ejs %>
                        <% } %>    
                    </div>
                </div>
                <div class="card card-block">
                    <div class="col-sm-12">
			<div class="col-sm-2"></div>
                            <div class="col-sm-8">
				<div class="card card-block">
                                    <img class="w-100" src="/<%-core.image%>" alt="Scrum Roles">
				</div>
                            </div>
			<div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="tab-pane" id="<%-noncore.stitle%>" role="tabpanel">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-block">
                    <div class="card card-block">
						<% for (var i=0; i<noncore.comment.length; i++) { %>
                            <p class="card-text"><%-noncore.comment[i]%></p>
						<% } %>
						
                        <% for (var j=0; j<noncore.roles.length; j++) { %>
							<% var data = noncore.roles[j]; %>
							<%- include ../_paragraphe.ejs %>
                        <% } %>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<%- include ../_footer %>



